* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
  margin: 12px auto;
}

.search-form {
  margin: 10px auto;
  width: 80vw;
  height: 8vh;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  padding: 8px;
}

.search-btn {
  width: 16vw;
}

.recipes {
  max-width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.dish {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dish ul {
  list-style: none;
  text-align: left;
}

.dish ul li {
  line-height: 1.5;
}

.cal-time span {
  display: block;
  width: 100%;
}

footer {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .recipes {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .recipes {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .details img {
    width: 100%;
  }
}
